extends layout

block content
	h1= title
	#holder
	.legend
		ul.test-info
			h3 Tests
				li= test[0]
				li= test[1]
			h3 Device
				li= device
			h3
				.progress(style="background:#2f6abd;width:90%") Mean Frame time (ms) <em>(more info)</em>
					p.hidden Frame time represents the time it takes to render a frame and it's a more accurate measure of performance
					p.hidden A frame time is calculated by dividing 1000 (ms in a second) to the number of frames per second
				.progress(style="background:#bd572f;width:90%") Load Time (ms)
					//- p Overall load time, measured in milliseconds (ms)
				.progress(style="background:#a0bd2f;width:90%") Layout (ms)

		form(action='../v2/view/results', method='GET').test-info
			p: h3 Compare commits
			p#compare-commits Click on 2 commits to compare
			input(type='hidden', name='device', value=device)
			p: button(type='submit') Compare
		ul.test-info#commit-info


	script(src='/javascripts/raphael-min.js')
	script(src='/javascripts/g.raphael-min.js')
	script(src='/javascripts/g.line-min.js')
	script(src='/javascripts/dashboard.js')
	script(src='/javascripts/analytics.js')