extends layout
block content

	include includes/navigation

	#holder
	.legend
		ul.test-info
			h3 Tests
				li= test[0]
				li= test[1]
			h3= 'Device: ' + device

			table
				tr.bar-a
					td Mean frame ms
					td base
				tr.bar-b
					td Load ms
					td base
				tr.bar-c
					td Layout ms
					td base


		form(action='../v2/view/results', method='GET').test-info
			p: h3 Compare commits
			p#compare-commits Click on 2 commits to compare
			input(type='hidden', name='device', value=device)
			input(type='hidden', name='test', value=test[0])
			input(type='hidden', name='test', value=test[1])
			p: button(type='submit') Compare
		ul.test-info#commit-info

	script(src='/javascripts/raphael-min.js')
	script(src='/javascripts/g.raphael-min.js')
	script(src='/javascripts/g.line-min.js')
	script(src='/javascripts/dashboard.js')
	script
		getParamsAndPlot();
