extends layout

block content
	table
		thead
			tr
				th: .button.large.disabled Result
				th: .button.large.disabled Version
				th: .button.large.disabled Time
				th: .button.large.disabled Test
				th
					select(class='button large')
						option OS
						option Mac
						option Windows
						option iPhone
						option Android
				th
					select(class='button large select-browser')
						option Browser
						option Chrome
						option Firefox
						option Safari
				th: .button.large.disabled Version
				th: .button.large.disabled Device
		tbody
		- results.forEach(function(r){
			tr(class=r.browser)
				td= r.result
				td
					| @
					a(class='commit', target='_blank', href='/view/' + r.commit)= r.commit
					a(href='https://github.com/topcoat/topcoat/commit/' + r.commit)
						img(src='/img/github.png')
				td(class='date')= r.date
				td= r.test
				td= r.os
				td= r.browser
				td= r.version
				- if(r.device)
						td= r.device
				- else
					td (probably) laptop/desktop
		- })

	include test.html
	script(src='/javascripts/sort.js')
	script(src='/javascripts/results-format.js')