doctype 5
html
	head
	title= title
	link(rel='stylesheet', href='/stylesheets/topcoat.css')
	link(rel='stylesheet', href='/stylesheets/style.css')
	link(rel='stylesheet', href='/stylesheets/stress-view.css')
	body
		table
			thead
				tr
					th Expand
					th Baseline time
					th Commit
					th Date
					th Browser
					th Browser version
					th OS
					th Device
			tbody
			- results.forEach(function(r){
				tr
					td(class='expand') &darr;
					td= r.result
					td
						| @
						a(class='commit', target='_blank', href='https://github.com/topcoat/topcoat/commit/' + r.commit)= r.commit
					td(class='date')= r.date
					td= r.browser
					td= r.version
					td= r.os
					- if(r.device)
						td= r.device
					- else
						td (probably) laptop/desktop
				- r.selector.forEach(function(sel){
					tr(class='hide')
						td
						td(colspan=2)= sel.selector
						td(colspan=3)
							| delta 
							= sel.delta
						td(colspan=2)
							| total 
							= sel.total
				- })
			- })

		//script(src='/javascripts/sort.js')
		script(src='/javascripts/results-format.js')