tr
	td: button.topcoat-button(type='submit') Compare
	td: button.topcoat-button(class='js-handler--plot', disabled) Plot
	td(colspan=6)
- results.forEach(function (el, idx) {
	tr
		td
			input(type='checkbox', name='average_' + idx, id='average_' + idx, value=el._id, data-test=el.test, data-device=el.device)
			label.topcoat-checkbox-label--left(for='average_' + idx)
		td= el.test
			a(title='Add as a filter', href='#', class='add-filter', data-value=el.test, data-filter='test') +
		td= el.device
			a(title='Add as a filter', href='#', class='add-filter', data-value=el.device, data-filter='device') +
		td= el.platform
			a(title='Add as a filter', href='#', class='add-filter', data-value=el.platform, data-filter='platform') +
		td= el.commit
			a(title='Add as a filter', href='#', class='add-filter', data-value=el.commit, data-filter='commit') +
		td(class='date')= (el.date.toString()).slice(0,15)
		td= el.count
- })
tr
	td: button.topcoat-button(type='submit') Compare
	td: button.topcoat-button(class='js-handler--plot', disabled) Plot
	td(colspan=6)